
.gb-container{
  width: 50%;
  margin: 0 auto;
}
.gb-container-big{
  width: 70%;
  margin: 0 auto;
}


.false-hr{
  max-width: 20%;
  height: 1px;
  background-color: $primary-color;
  margin: 20px auto;
}
.false-hr-full{
  width: 100%;
  height: 1px;
  background-color: $tertiary-color;
  margin: 10px auto;
}
.false-hr-small{
  height: 1px;
  max-width: 10%;
  background-color: $secondary-color;
  margin: 10px auto;
}

.p-small{
  font-size: .7rem;
  color: $text-grey;;
}












/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
}